body {
    font-family: 'Monda', sans-serif;
    background-color: #616161 ;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
}

.login-form, .register-form {
    background-color: #424242;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.788);
    padding: 20px;
    border-radius: 5px;
    width: 300px;
    text-align: center;
}

h2 {
    margin-top: 0;
    color: #fff;
}

form {
    margin-top: 20px;
}

label {
    display: block;
    font-weight: bold;
}

input {
    width: 80%;
    padding: 10px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

button[type="submit"] {
    margin-top: 15px;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
}

@media (max-width: 800px) {
    .container {
        flex-direction: column;
        align-items: center;
    }

    .login-form, .register-form {
        width: 80%; 
    }
}